.container {
    display: grid;
    height: 150vh;
    grid-template-columns: .5fr repeat(2, 1fr);
    grid-template-rows: .2fr 1fr 1.5fr 1fr .5fr;
    grid-template-areas:
    "nav nav nav"
    "aboutTitle aboutPara aboutPara"
    "latestWorkTitle horiseon horiseon"
    "pastWorkTitle prework moreToCome"
    "contactMeTitle footer footer";
    grid-gap: .4rem;
}

#topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
    grid-area: nav;
    position: relative;
    padding: 10px 0px 10px 10px;
}

#topNav h1 {
    font-size: 70px;
}

#navLinks {
    position: absolute;
    right: 100px;
}

#navLinks li {
    display: inline;
    margin: 20px;
}

#aboutTitle {
    background-color: aquamarine;
    grid-area: aboutTitle;
    font-size: 55px;
    text-align: right;
    padding: 90px 15px;
    border-right-style: solid;
    
}

#latestWorkTitle {
    background-color: blue;
    grid-area: latestWorkTitle;
    font-size: 55px;
    text-align: right;
    padding: 165px 15px;
    border-right-style: solid;
}

#pastWorkTitle {
    background-color: beige;
    grid-area: pastWorkTitle;
    font-size: 55px;
    text-align: right;
    padding: 90px 15px;
    border-right-style: solid;
}

#aboutPara {
    background-color: brown;
    grid-area: aboutPara;
    display: flex;
    align-items: center;
    align-content: space-between;
}

#horiseon {
    background-color: orange;
    grid-area: horiseon;
    position: relative;
    filter: saturate(50%);
}

#prework {
    background-color: yellow;
    grid-area: prework;
    position: relative;
    filter: saturate(50%);
}

#moreToCome {
    background-color: green;
    grid-area: moreToCome;
    position: relative;
    filter: saturate(50%);
}

#contactMeTitle {
    background-color: red;
    grid-area: contactMeTitle;
    font-size: 55px;
    text-align: right;
    padding: 23px 15px;
    border-right-style: solid;
}

footer {
    background-color: hotpink;
    grid-area: footer;
}

#headshot {
    width: 195px;
    height: 295px;
    padding: 10px;
}

.paraContainer p {
    margin: 0 0 15px 0;
    line-height: 20px;
}

#horiseonPic, #preworkPic, #comingSoonSign {
    height:100%;
    width:100% ;
}

#bottomNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#bottomNav ul {
    margin-top: 15px;
}

#bottomNav li {
    display: inline-flex;
    margin: 40px;
}

.projectTitleCard {
    width: 230px;
    position: absolute;
    bottom: 10px;
    background-color: aqua;
    padding: 10px;
}

#horiseon:hover, #prework:hover, #moreToCome:hover {
    filter: saturate(100%);
}

@media only screen and (max-width: 800px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .4fr .2fr 2.5fr .2fr 2fr .2fr 1fr 1fr .2fr .4fr;
        grid-template-areas: 
        "nav"
        "aboutTitle"
        "aboutPara"
        "latestWorkTitle"
        "horiseon"
        "pastWorkTitle"
        "prework"
        "moreToCome"
        "contactMeTitle"
        "footer";
    }
}