:root{
    --greenColor: rgba(30, 96, 38, 0.8) ;
}

/* This controls the entire grid layout */
.container {
    display: grid;
    height: 150vh;
    grid-template-columns: .5fr repeat(2, 1fr);
    grid-template-rows: .2fr 1fr 1.5fr 1fr .5fr;
    grid-template-areas:
    "nav nav nav"
    "aboutTitle aboutPara aboutPara"
    "latestWorkTitle horiseon horiseon"
    "pastWorkTitle prework moreToCome"
    "contactMeTitle footer footer";
    grid-gap: .4rem;
}

/* Changes the border around the project photos as well as the saturation effect necessary for the hover effect.*/
#horiseon, #prework, #moreToCome {
    border-style: solid;
    border-color: var(--greenColor);
    position: relative;
    filter: saturate(50%);
}

#topNav, footer{
    background-color: var(--greenColor);
}

#topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: nav;
    position: relative;
    padding: 10px 0px 10px 10px;

}

#topNav h1 {
    font-size: 70px;
}

#navLinks {
    position: absolute;
    right: 100px;
}

#navLinks li {
    display: inline;
    margin: 20px;
}

/* Controls the style of the titles on the left hand side of the page*/
#aboutTitle, #latestWorkTitle, #pastWorkTitle, #contactMeTitle{
    font-size: 55px;
    text-align: right;
    padding-right: 15px;
    border-right-style: solid;
    border-bottom-style: solid;
    background-color: beige;
}

/* These next four styles are necessary in order for the grid sections to be in the right area. */
#aboutTitle {
    grid-area: aboutTitle;
}

#latestWorkTitle {
    grid-area: latestWorkTitle;
}

#pastWorkTitle {
    grid-area: pastWorkTitle;
}

#contactMeTitle {
    grid-area: contactMeTitle;
}

#aboutPara {
    grid-area: aboutPara;
    display: flex;
    align-items: center;
    align-content: space-between;
    background-color: var(--greenColor);
}

#horiseon {
    grid-area: moreToCome;
}

#prework {
    grid-area: prework;
}

#moreToCome {
    grid-area: horiseon;
}


footer {
    grid-area: footer;
}

#headshot {
    width: 195px;
    height: 295px;
    padding: 10px;
}

.paraContainer p {
    margin: 0 0 15px 0;
    line-height: 20px;
}

#horiseonPic, #preworkPic, #comingSoonSign {
    height:100%;
    width:100% ;
}

#bottomNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#bottomNav ul {
    margin-top: 15px;
}

#bottomNav li {
    display: inline-flex;
    margin: 35px;
}

.projectTitleCard {
    width: 230px;
    position: absolute;
    bottom: 10px;
    background-color: beige;
    padding: 10px;
}

/*This causes the photos to go to their original color when hovered over with the mouse */
#horiseon:hover, #prework:hover, #moreToCome:hover {
    filter: saturate(100%);
}

/*This changes the layout for mobile viewing. The grid changes to a one column grid. */
@media only screen and (max-width: 800px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .4fr .2fr 2.5fr .2fr 2fr .2fr 1fr 1fr .2fr .4fr;
        grid-template-areas: 
        "nav"
        "aboutTitle"
        "aboutPara"
        "latestWorkTitle"
        "horiseon"
        "pastWorkTitle"
        "prework"
        "moreToCome"
        "contactMeTitle"
        "footer";
    }

    #aboutTitle, #latestWorkTitle, #pastWorkTitle, #contactMeTitle{
        font-size: 55px;
        text-align: center;
        border-right-style: none;
        border-bottom-style: solid;
    }


    #navLinks {
        position: absolute;
        right: 50px;
    }
    
    #navLinks li {
        display: block;
        margin: 10px;
    }
}